ul.about-list
  li.about-item-holder.mod-shipping
    span.about-item
      i.about-ico.mod-shipping
      p.about-description
        span.about-description-title FREE SHIPPING
        span.about-description-text In Order Min $200

  li.about-item-holder.mod-returns
    span.about-item
      i.about-ico.mod-returns
      p.about-description
        span.about-description-title 30-DAYS RETURNS
        span.about-description-text Money Back  Guarantee

  li.about-item-holder.mod-support
    span.about-item
      i.about-ico.mod-support
      p.about-description
        span.about-description-title 24/7 SUPPORT
        span.about-description-text Lifestyme Support