div.customers-list-holder
  i.customers-list-ico
  div.fix
    div.customers-list

      div.customers-item.mod-left
        img.customers-item-img(src="../images/blocks/customers/sandra.png")
        div.customers-item-info
          p.customers-item-comment Sed ut perspiciatis<br> unde omnis iste natus error sit<br> voluptatem accusantium doloremque
          p.customers-item-name Sandra Dewi
          p.customers-item-description FASHION STYLISH

      div.customers-item.mod-right
        img.customers-item-img(src="../images/blocks/customers/shaheer.png")
        div.customers-item-info
          p.customers-item-comment Sed ut perspiciatis<br> unde omnis iste natus error sit<br> voluptatem accusantium doloremque
          p.customers-item-name Shaheer Sheikh
          p.customers-item-description DESIGNER