include mixin/list

footer.footer-holder

  div.fix
    div.footer
      i.footer-ico
      div.footer-block.mod-menu
        div.footer-box
          span.footer-box-title Shops
          ul.footer-list
            +list([
              [{href: '#', link: 'New In'}],
              [{href: '#', link: 'Women'}],
              [{href: '#', link: 'Men'}],
              [{href: '#', link: 'Shoes'}],
              [{href: '#', link: 'Bags & Accessories'}],
              [{href: '#', link: 'Top Brands'}],
              [{href: '#', link: 'Sale & Special Offers'}],
              [{href: '#', link: 'Lookbook'}]
            ])

        div.footer-box
          span.footer-box-title INFORMATION
          ul.footer-list
            +list([
              [{href: '#', link: 'About us'}],
              [{href: '#', link: 'Customer Service'}],
              [{href: '#', link: 'New Collection'}],
              [{href: '#', link: 'Best Sellers'}],
              [{href: '#', link: 'Manufacturers'}],
              [{href: '#', link: 'Privacy policy'}],
              [{href: '#', link: 'Terms & condition'}],
              [{href: '#', link: 'Blog'}]
            ])

        div.footer-box
          span.footer-box-title CUSTOMER SERVICE
          ul.footer-list
            +list([
              [{href: '#', link: 'Search Terms'}],
              [{href: '#', link: 'Advanced Search'}],
              [{href: '#', link: 'Orders and Returns'}],
              [{href: '#', link: 'Contact Us'}],
              [{href: '#', link: 'RSS'}],
              [{href: '#', link: 'Help & FAQs'}],
              [{href: '#', link: 'Consultant'}],
              [{href: '#', link: 'Store Locations'}]
            ])

      div.footer-block
        span.footer-box-title STAY CONNECTED
        div.footer-social
          ul.footer-social-list
            li.footer-social-item
              a.footer-social-link.mod-facebook(href="#")
            li.footer-social-item
              a.footer-social-link.mod-twitter(href="#")
            li.footer-social-item
              a.footer-social-link.mod-instagram(href="#")
            li.footer-social-item
              a.footer-social-link.mod-pinterest(href="#")
            li.footer-social-item
              a.footer-social-link.mod-rss(href="#")

        div.footer-box-title SUBSCRIBE ON OUR NEWS LETTER
        form.footer-subscribe-form
          input.footer-subscribe-input(placeholder="Enter Your Email Address")
          button.footer-subscribe-btn Subscribe


    div.copyright
      div.copyright-info
        span.copyright-info-text © 2015  Shopia  Fashion Store Shopify.
        span.copyright-info-text All Rights Reserved. Ecommerce Software by Shopify.
        span.copyright-info-text Designed by  MoccaLabs.com

      ul.copyright-payment-list
        li.copyright-payment-item
          img.copyright-payment-img(src="../images/blocks/payment/visa.png")
        li.copyright-payment-item
          img.copyright-payment-img(src="../images/blocks/payment/mastercard.png")
        li.copyright-payment-item
          img.copyright-payment-img(src="../images/blocks/payment/american-express.png")
        li.copyright-payment-item
          img.copyright-payment-img(src="../images/blocks/payment/discover.png")

