ul.category-list

  li.category-item
    span.category-box
      span.category-img-holder
        img.category-img(src="../images/blocks/shoes.png")
        i.category-img-ico

      a.button.mod-orange.mod-category(href="#")
        span.button-text Shop now

    span.category-box
      span.category-img-holder
        img.category-img(src="../images/blocks/jewellery.png")
        i.category-img-ico

  li.category-item.mod-full
    span.category-box
      span.category-img-holder
        img.category-img(src="../images/blocks/collection.png")
        i.category-img-ico

  li.category-item
    span.category-box
      span.category-img-holder
        img.category-img(src="../images/blocks/50off.png")
        i.category-img-ico

      a.category-btn
        span.category-btn-text Shop now

    span.category-box
      span.category-img-holder
        img.category-img(src="../images/blocks/accessories.png")
        i.category-img-ico


