ul.category-list

  li.category-item
    a.category-box(href="#")
      span.category-img-holder
        img.category-img(src="../images/blocks/shoes.png")
        i.category-img-ico
      span.button.mod-orange.mod-category
        span.button-text Shop now

    a.category-box(href="#")
      span.category-img-holder
        img.category-img(src="../images/blocks/jewellery.png")
        i.category-img-ico
      span.button.mod-orange.mod-category
        span.button-text Shop now

  li.category-item.mod-full
    a.category-box(href="#")
      span.category-img-holder
        img.category-img(src="../images/blocks/collection.png")
        i.category-img-ico
      span.button.mod-orange.mod-category
        span.button-text Shop now

  li.category-item
    a.category-box(href="#")
      span.category-img-holder
        img.category-img(src="../images/blocks/50off.png")
        i.category-img-ico
      span.button.mod-orange.mod-category
        span.button-text Shop now

    a.category-box(href="#")
      span.category-img-holder
        img.category-img(src="../images/blocks/accessories.png")
        i.category-img-ico
      span.button.mod-orange.mod-category
        span.button-text Shop now