.header
  display: block
  padding: 15px 0
  background-color: rgb(242, 242, 242)
  box-sizing: border-box

.header-content
  display: flex
  justify-content: space-between
  width: 100%

.header-phone
  display: block
  font-size: rem(11)
  line-height: lh(13,11)
  font-family: $lato-regular
  color: rgb(57, 57, 57)

.header-action-list
  display: block
  +clear

.header-action-item
  float: left
  text-align: center
  border-right: 1px solid rgb(57, 57, 57)

  &:last-child
    border-right: none


.header-action-link
  display: block
  width: 145px
  padding: 0 10px
  font-size: rem(11)
  line-height: lh(13, 11)
  font-family: $lato-regular
  color: rgb(57, 57, 57)
  text-transform: uppercase
  box-sizing: border-box
