.gallery-badge-holder
  position: absolute
  top: 150px
  left: 50%
  transform: translateX(-50%)
  width: 278px
  padding: 9px
  border: 2px solid #ffffff
  box-sizing: border-box

.gallery-badge
  display: block
  padding: 30px 10px
  text-align: center
  border: 1px solid #fff

.gallery-badge-description
  display: block
  margin-bottom: 35px
  font-size: rem(20)
  line-height: lh(22, 20)
  font-family: $lato-bold
  color: rgb(255, 255, 255)
  text-transform: uppercase

.gallery-badge-title
  display: block
  margin-bottom: 35px
  font-size: rem(60)
  line-height: lh(62, 60)
  font-family: $lato-bold
  color: rgb(0, 0, 0)
  text-transform: uppercase

.gallery-badge-text-holder

.gallety-badge-text
  display: block
  margin-bottom: 25px
  font-size: rem(20)
  line-height: lh(22, 20)
  font-family: $lato-bold
  color: rgb(255, 255, 255)
  text-transform: uppercase

.gallery-badge-value
  display: block
  font-size: rem(24)
  line-height: lh(26, 24)
  font-family: $lato-bold
  color: rgb(0, 0, 0)
