include mixin/main
include mixin/social

div.fix
  div.navigation-holder

    div.navigation-box.mod_menu
      div.navigation-menu
        +navigation([
          [{title: 'Home', mod: ''}],
          [{title: 'Gallery', mod: '#'}],
          [{title: 'Categories', mod: '#'}],
          [{title: 'Pages', mod: '#'}]
        ])

    div.navigation-box.mod-logo
      div.navigation-logo-holder
        img.navigation-logo(src="../images/blocks/logo.png")

    div.navigation-box.mod-actions
      div.navigation-social
        +navigation-social([
          [{mod: 'facebook'}],
          [{mod: 'tweeter'}],
          [{mod: 'pinterest'}],
          [{mod: 'instagram'}]
        ])

      div.navigation-currency-holder
        div.navigation-currency
          form.navigation-currency-form
            input.navigation-currency-input(type="hidden")
            span.navigation-currency-text Rupian
            ul.navigation-currency-list
              li.navigation-currency-item
                span.navigation-currency-value USD
              li.navigation-currency-item
                span.navigation-currency-value EURO
              li.navigation-currency-item
                span.navigation-currency-value UAH