div.brand-list
  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/bakery.png")

  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/lavalier.png")

  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/harvest.png")

  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/landlock.png")

  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/spectrum.png")

  a.brand-item(href="#")
    img.brand-img(src="../images/blocks/brands/home-energy.png")