div.gallery-list.js-gallery

  div.gallery-item
    div.gallery-img-holder
      img.gallery-img(src="http://picsum.photos/1440/692")

    div.gallery-badge-holder
      div.gallery-badge
        p.gallery-badge-description Mid-season
        p.gallery-badge-title Sale
        p.gallery-badge-text-holder
          p.gallery-badge-text Up to
        p.gallery-badge-value 50% OFF

    a.button.mod-orange.mod-gallery
      span.button-text Shop now

  div.gallery-item
    div.gallery-img-holder
      img.gallery-img(src="http://picsum.photos/1440")

  div.gallery-item
    div.gallery-img-holder
      img.gallery-img(src="http://picsum.photos/692")