<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles-->
  <link rel="stylesheet" href="css/manifest.css" type="text/css"><!-- inject:css -->
<!-- endinject -->
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="fix">
        <div class="header-content"><a class="header-phone" href="tel:+001 555 801">Call +001 555 801</a>
              <!-- BLOCK START-->
              <ul class="header-action-list">
                <li class="header-action-item"><a class="header-action-link" href="#">WELCOME MSG!</a></li>
                <li class="header-action-item"><a class="header-action-link" href="#">MY ACCOUNT</a></li>
                <li class="header-action-item"><a class="header-action-link" href="#">MY WHISTLIST</a></li>
                <li class="header-action-item"><a class="header-action-link" href="#">LOGIN</a></li>
              </ul>
              <!-- BLOCK END-->
        </div>
      </div>
    </header>
    <footer class="footer-holder">
      <div class="fix">
        <div class="footer"><i class="footer-ico"></i>
          <div class="footer-block">
            <div class="footer-box"><span class="footer-box-title">Shops</span>
              <ul class="footer-list">
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">New In</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Women</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Men</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Shoes</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Bags &amp; Accessories</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Top Brands</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Sale &amp; Special Offers</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Lookbook</a></li>
              </ul>
            </div>
            <div class="footer-box"><span class="footer-box-title">INFORMATION</span>
              <ul class="footer-list">
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">About us</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Customer Service</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">New Collection</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Best Sellers</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Manufacturers</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Privacy policy</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Terms &amp; condition</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Blog</a></li>
              </ul>
            </div>
            <div class="footer-box"><span class="footer-box-title">CUSTOMER SERVICE</span>
              <ul class="footer-list">
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Search Terms</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Advanced Search</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Orders and Returns</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Contact Us</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">RSS</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Help &amp; FAQs</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Consultant</a></li>
                    <li class="footer-item"><a class="footer-link" href="#{item[0].href}">Store Locations</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-block"><span class="footer-box-title">STAY CONNECTED</span>
            <div class="footer-social">
              <ul class="footer-social-list">
                <li class="footer-social-item"><a class="footer-social-link mod-facebook" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-tweeter" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-instagram" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-pinterest" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-rss" href="#"></a></li>
              </ul>
            </div>
            <div class="footer-box-title">SUBSCRIBE ON OUR NEWS LETTER</div>
            <form class="footer-subscribe-form">
              <input class="footer-subscribe-input" placeholder="Enter Your Email Address">
              <button class="footer-subscribe-btn">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="copyright">
          <div class="copyright-info"><span class="copyright-info-text">© 2015  Shopia  Fashion Store Shopify.</span><span class="copyright-info-text">All Rights Reserved. Ecommerce Software by Shopify.</span><span class="copyright-info-text">Designed by  MoccaLabs.com</span></div>
          <ul class="copyright-payment-list">
            <li class="copyright-payment-item"><img class="copyright-payment-img" src="../images/blocks/payment/visa.png"></li>
            <li class="copyright-payment-item"><img class="copyright-payment-img" src="../images/blocks/payment/mastercard.png"></li>
            <li class="copyright-payment-item"><img class="copyright-payment-img" src="../images/blocks/payment/american-express.png"></li>
            <li class="copyright-payment-item"><img class="copyright-payment-img" src="../images/blocks/payment/discover.png"></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/vendor.js"></script>
  <script src="js/application.js"></script>
  <script src="js/fonts.js"></script><!-- inject:js -->
<!-- endinject -->
</body>