.category-list
  display: flex
  align-items: stretch
  margin: 0 -10px

.category-item
  display: block
  width: calc((100% - 480px) / 2)
  padding: 0 10px
  box-sizing: border-box

  &.mod-full
    width: 480px

    .category-img-holder
      padding-bottom: 177.174%

    .category-img-ico
      top: 0
      left: 0
      bottom: 0
      right: 0
      border: none


.category-box
  position: relative
  display: block
  width: 100%
  margin-bottom: 15px
  cursor: pointer

  &:hover

    .button

      &.mod-category
        opacity: 1
        visibility: visible


    .category-img-ico
      background-color: rgba(0, 0, 0, .2)
      border-color: transparent


.category-img-holder
  position: relative
  display: block
  width: 100%
  height: auto
  padding-bottom: 100%
  overflow: hidden

.category-img
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.category-img-ico
  position: absolute
  top: 24px
  right: 20px
  bottom: 29px
  left: 20px
  border: 3px solid #fff
  transition: background .3s ease, border-color .3s ease