div.preview-list-holder
  div.preview-list

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart
        span.preview-item-badge-sale 20%

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart
        span.preview-item-badge-sale 20%

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart
        span.preview-item-badge-sale 20%

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart

    a.preview-item-box(href="#")
      span.preview-item
        span.preview-img-holder
          img.preview-img(src="http://placehold.it/300x350")
        span.preview-item-badge
          span.preview-item-badge-text + Add to cart
        span.preview-item-badge-sale 20%