.navigation-currency-holder
  display: block

.navigation-currency
  display: block

.navigation-currency-form
  position: relative
  display: block
  padding: 14px 31px 14px 14px
  background: #000
  box-sizing: border-box

.navigation-currency-text
  display: block
  font-size: rem(12)
  font-family: $lato-bold
  line-height: lh(18, 12)
  color: #ffffff
  text-transform: uppercase

.navigation-currency-list
  position: absolute
  top: 100%
  right: 0
  width: 90px
  background: #000

.navigation-currency-item
  display: block
  width: 100%
  padding: 10px
  border-bottom: 1px solid #eee
  box-sizing: border-box

  &:last-child
    border-bottom: none


.navigation-currency-value
  display: block
  font-size: rem(12)
  font-family: $lato-bold
  line-height: lh(18, 12)
  color: #fff
  text-transform: uppercase