.navigation-list
  display: block
  margin: 0 -10px
  +clear

.navigation-item
  float: left

.navigation-link
  display: block
  padding: 10px
  font-size: rem(20)
  line-height: lh(22, 20)
  font-family: $playfair-italic
  font-style: italic
  color: rgb(0, 0, 0)
  transition: color .3s ease

  &:hover
    color: #d9bf8f