.navigation-holder
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 17px 0 18px

.navigation-box
  display: block
  width: calc(100% / 3)

  &.mod-logo
    text-align: center

  &.mod-actions
    display: flex
    justify-content: flex-end