.navigation-social
  display: block
  margin-right: 50px

.navigation-social-list
  display: block
  margin: 0 -6px
  +clear

.navigation-social-item
  float: left
  padding: 0 6px

.navigation-social-link
  display: block
  width: 34px
  height: 34px
  background: #fff
  border: 2px solid rgb(217, 191, 143)
  border-radius: 50%
  overflow: hidden
